/* Custom styles */

body {
  background: #191b22;
}

h1 {
  margin-bottom: .5em;
}

li {
  margin-bottom: .5em;
}

a {
  text-decoration: underline;
  color: white;
}

a:hover {
  color: #9baec8;
}

.own-background {
  overflow: hidden;
  background-color: #282c37;
  border-radius: 5px;
  color: white;
  box-shadow: 0 0 15px rgba(0,0,0,.2);
  margin: 1em;
  padding: 2em;
}

#table-container {
  margin-top: 2em;
}

.mascot {
  max-width: 100px;
  margin-left: -2em;
  margin-bottom: -2em;
}

.negative {
  background: #b90e0e;
  width: 100%;
  display: block;
  height: 100%;
  padding: 1em;
  color: white;
}

.positive {
  background: #0c860c;
  width: 100%;
  display: block;
  height: 100%;
  padding: 1em;
  color: white;
}

.space-top {
  margin-top: 1rem;
}

.space-top--double {
  margin-top: 2rem;
}
